:root{
  --blanco: #FFF;
  --negro: #000;
  --primario: #47B5FF;
  --secundario: #1363DF;
  --terciario: #2129bb;
  --grisClaro: #eee;
  --colorSombra: #7d8b92;

  /* DarkMode */
  --dark: #2E2E2E;
  --darkLetra: #EDEDED;

  --primarioOscuro: #0083DB;
  --secundarioOscuro: #092F6A;
  --darkBg: #4F4F4F;
  --darkBg2: #5E5E5E;
}

/* Generales y formateo de fuente*/
html{
  box-sizing: border-box;
  font-size: 62.5%;
}

*,*::after,*::before{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Lato', sans-serif;
  background-color: var(--grisClaro);
}

.contenedor{
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

img{
  display: block;
  max-width: 100%;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

/* Utilidades */
.flex{
  display: flex;
  gap: 3rem;
  align-items: center;
}

/* background de toda la pantalla */
.wrapper{
  height: 100vh;
  background: linear-gradient(to bottom, var(--primario) 40%, var(--terciario) 100%);
}

@media (min-width: 768px) {
  .wrapper{
    background: linear-gradient(to right, var(--primario) 60%, var(--terciario) 100%);
  }
}

/* Header */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo{
  font-family: 'Caveat', sans-serif;
  color: #FFF;
  margin-top: 1rem;
  font-size: 5rem;
}

/* Para abrir menu en movil */
.burger{
  background-color: var(--secundario);
  height: 6rem;
  width: 6rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}

.burger:hover{
  background-color: var(--terciario);
  cursor: pointer;
}

@media (min-width: 768px) {
  .burger{
    display: none;
  }
}

.line{
  background-color: #fff;
  height: .5rem;
  width: 3.5rem;
  border-radius: .4rem;
  transition-duration: .5s;
}

/* animar las lineas del burger */
.active .line:nth-child(1){
  transform: translateY(12px) rotate(135deg);
}

.active .line:nth-child(2) {
  transform: scale(0);
}

.active .line:nth-child(3) {
  transform: translateY(-18px) rotate(-135deg);
}

/* estilos para el menu en movil */
.nav-menu{
  position: fixed;
  bottom: -7rem;
  right: -100%;
  z-index: 5;
  background-color: var(--secundario);
  width: 50%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  border-radius: .5rem;
  transition-property: right;
  transition-duration: .3s;
}

@media (min-width: 768px) {
  .nav-menu{
    width: 30%;
  }
}

/* Clase para que el menu salga */
.nav-menu-desplazado{
  right: 0;
}

.nav-menu-link{
  color: #fff;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: .3s;
}

.nav-menu-link:hover{
  background-color: #DFF6FF;
  color: var(--negro);

}

/* Estilos para la navegacion en pc's */
@media (min-width: 768px) {
  .nav-menu{
    all: unset;
    list-style: none;
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
    justify-content: space-between;
  }

  .nav-menu-link{
    font-size: 1.8rem;
  }

  .nav-menu-link::after{
    content: '';
    display: block;
    width: 0;
    height: .5rem;
    margin-top: 5px;
    background-color: #1363DF;
    transition-property: all;
    transition-duration: .3s;
  }

  .nav-menu-link:hover{
    background-color: unset;
  }

  .nav-menu-link:hover::after{
    width: 100%;
  }
}

/* Inicio */
.inicio{
  max-width: 90rem;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .inicio{
    margin-top: 10rem;
  }
}

.inicio-flex{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .inicio-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.texto{
  color: var(--blanco);
}

.texto h2{
  font-size: 3.5rem;
  margin-block: 2rem;
}

.texto p{
  font-size: 2.5rem;
  max-width: 40rem;
  line-height: 1.4;
  text-align: center;
}

@media (min-width: 768px) {
  .texto p{
    text-align: left;
  }
}

.nombre{
  font-style: normal;
  font-weight: bold;
  color: #00013c;
}

/* Sobre mi */
.sobremi{
  margin-block: 3rem;
}

.sobremi h2{
  text-align: center;
  font-size: 4rem;
  margin-block: 2rem;
}

.sobremi-contenedor{
  background-color: #fff;
  padding: 2rem;
}

.sobremi-contenedor{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 4rem;
}

@media (min-width: 768px) {
  .sobremi-contenedor{
    grid-template-columns: repeat(2, 1fr);
  }
}

.degradado{
  display: inline-block;
  font-size: 20rem;
  margin-top: -2rem;
  color: transparent;
  background: linear-gradient(to right, #F16529 0%, #F16529 33%, #2465F1 34%, #2465F1 66%, 
  #F7DF1E 67%, #F7DF1E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  
}

@media (min-width: 480px) {
  .logo p{
    font-size: 25rem;
  }
}

@media (min-width: 768px) {
  .logo p{
    font-size: 30rem;
    margin-top: -10rem;
    background-clip: text;
    -webkit-background-clip: text;
  }
}



.acordeon{
  background-color: var(--blanco);
}

.bloque.active .contenido{
  transition: all .3;
}

.bloque.active .contenido{
  height: 100%;
  padding: .7rem;
}

.titular{
  position: relative;
  background-color: var(--secundario);
  color: var(--blanco);
  padding: 1rem;
  font-size: 1.7rem;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .3s;
}

.titular:hover{
  background-color: var(--terciario);
}

.titular::after{
  content: '+';
  position: absolute;
  font-size: 1.7rem;
  top: 25%;
  right: 2rem;
}

.bloque.active .titular::after{
  content: '-';
  font-weight: bold;
}

.contenido{
  margin-bottom: .3rem;
  border-left: 5px solid var(--primario);
  font-size: 1.5rem;
  padding: 0rem;
  overflow: hidden;
  height: 0;
  transition: padding .3s;
}

.contenido p{
  line-height: 1.6;
}

.contenido ul{
  list-style:disc;
  margin-left: 2rem;
  margin-top: 1rem;
}

.downlad-cv{
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .downlad-cv{
    justify-content: start;
  }
}

.downlad-cv a{
  background-color: #0083DB;
  color: var(--blanco);
  padding: 1rem 2rem;
  display: block;
  margin-top: 5rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  border-radius: .5rem;
  transition-property: background-color;
  transition-duration: .3s;
}

.downlad-cv a:hover {
  background-color: var(--secundario);
}

.imagen-about{
  height: 30rem;
  margin: 0 auto;
  border-radius: .5rem;
}


/* Skills */
.skills{
  background: linear-gradient(to right, var(--primario) 40%, var(--terciario) 100%);
  padding-block: 10rem;
}

.skills-flex{
  display: grid;
  gap: 3rem;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
 .skills-flex{
  grid-template-columns: repeat(2, 1fr);
 } 
}

.skills-nombre p{
  width: 8rem;
}

.skills-nombre{
  margin-bottom: .5rem;
  font-size: 2rem;  
}

.progress{
  background-color: #D9D4D0;
  height: 2rem;
  width: 50%;
  border-radius: 2rem;
  text-align: center;
  color: var(--blanco);
  font-size: 1.6rem;
}

.progress::after{
  content: '';
  background-color: var(--secundario);
  display: block;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  
  height: 100%;
  width: 100%;
}

.progress.css::after{
  content: '';
  width: 70%;
}

.progress.sass::after{
  content: '';
  width: 50%;
}

.progress.tailwindcss::after{
  content: '';
  width: 20%;
  height: 100%;
}

.progress.js::after{
  content: '';
  width: 40%;
}

.progress.react::after{
  content: '';
  width: 20%;
}

/* tabs & proyectos */
.proyectos{
  margin-top: 4rem;
}

.proyectos h2{
  text-align: center;
  font-size: 3rem;
}
.pestanas{
  background-color: var(--blanco);
  margin-top: 2rem;
  padding: 2rem;
  border-radius: .5rem;
  display: flex;
  gap: 4rem;
  justify-content: center;
}

.pestanas li{
  /* padding: .3rem; */
  font-size: 1.6rem;
  border-radius: .3rem;
  cursor: pointer;
  transition-property: all;
  transition-duration: .4s;
  padding: .5rem;
}

.pestanas li::after,
.pestanas li.active::after{
  content: '';
  display: block;
  width: 0;
  height: .4rem;
  background-color: var(--secundario);
  
  transition-property: all;
  transition-duration: .3s;
}

.pestanas li.active{
  border-bottom: .4rem solid var(--secundario);
  padding-bottom: 0;
}

.pestanas li:hover{
  background-color: unset;
  color: unset;
  transform: scale(1.1);
}

.pestanas li:not(.active):hover::after{
  width: 100%;
}

@media (min-width: 768px) {
  .pestanas li:after{
    all: unset;
  }
  
  .pestanas li{
    background-color: var(--secundario);
    color: var(--blanco);
    font-size: 1.8rem;
    border-radius: .7rem;
    padding: .7rem 1rem;
    transition: all .4s;
  }

  .pestanas li:hover{
    background-color: var(--terciario);
    color: var(--blanco);
    transform: scale(1.1);
  }

  .pestanas li.active{
    transform: scale(1.1);
  }
}

.contenido-pestanas{
  position: relative;
  min-height: 70rem;
}

@media (min-width: 768px) {
  .contenido-pestanas{
    min-height: 120rem;
  }
}

@media (min-width: 1200px) {
  .contenido-pestanas{
    min-height: 60rem;
  }
}

.contenido-pestanas .bloque {
  opacity: 0;
  overflow: hidden;
  transition-property: opacity;
  transition-duration: .4s;
  position: absolute;
}

.contenido-pestanas .bloque.active {
  opacity: 1;
  overflow: visible;
}

/* Card proyectos */
.card{
  background-color: var(--blanco);
  margin-top: 3rem;
  padding: 2rem;
  border-radius: .5rem;
  overflow: visible;
  margin-bottom: 1rem;
  z-index: 1;
  box-shadow: 0 0 2.6rem -0.8rem var(--colorSombra);
  transition: all .4s;
}

@media (min-width: 768px) {
  .card:hover{
    box-shadow: 0 0 2.6rem -0.25rem var(--colorSombra);
  }
}

.imagen-proyecto{
  display: block;
  overflow: hidden;
}

.imagen-proyecto img{
  transition-property: all;
  transition-duration: .4s;
}

.imagen-proyecto:hover img{
  cursor: pointer;
  transform: scale(1.2);
}

.card h3{
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 2rem;
}

.tecnologias{
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

.tecnologias img{
  max-width: 3rem;
  max-height: 3rem;
}

.descripcion p{
  font-size: 1.6rem;
  line-height: 1.4;
  margin-top: 2rem;
}

.botones{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .botones{
    flex-direction: row;
    gap: 0;
  }
}

.btn-proyecto,
.btn-git{
  color: var(--blanco);
  padding: .8rem 1.9rem;
  font-size: 1.6rem;
  font-weight: bold;
  transition-property: all;
  transition-duration: .4s;
  text-align: center;

  display: flex;
  align-items: center;
  gap: .7rem;
}

@media (min-width: 768px) {
  .btn-proyecto,
  .btn-git{
    padding: 1.5rem 1.9rem;
  }
}

.btn-proyecto{
  background-color: var(--secundario);
}

.btn-proyecto:hover{
  background-color: var(--terciario);
}

.btn-git{
  background-color: #24292F;
}

.btn-git:hover{
  background-color: #363e47;
}

/* Scroll snap */
.bloque{
  width: 100%;
}

.bloque-grid{
  display: grid;
  grid-template-columns: repeat( 4, 290px);
  column-gap: 2rem;
  overflow-y: hidden;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card{
  scroll-snap-align: center;
}

@media (min-width: 768px) {
  .bloque-grid{
    grid-template-columns: repeat(4, 1fr);
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .bloque-grid{
    grid-template-columns: repeat(3, 330px);
    column-gap: 5rem;
  }
}

/* Contact */
.form-contenedor{
  background: linear-gradient(to bottom, var(--primario) 40%, var(--terciario) 100%);
  padding: 4rem 2rem;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .form-contenedor{
    background: linear-gradient(to right, var(--primario) 50%, var(--terciario) 100%);
    grid-template-columns: 2fr 4fr;
    gap: 2rem;
    padding: 4rem 10rem 2rem 4rem;
  }
}

.info-contacto{
  text-align: center;
  padding-block: 2rem;
}

@media (min-width: 768px) {
  .info-contacto{
    padding-block: 15rem;
  }
}

/* Formulario seccion */
.formulario{
  background-color: var(--blanco);
  border-radius: .5rem;
  padding: 2rem 3rem;
}

@media (min-width: 768px) {
  .formulario{
    max-width: 70rem;
  }
}

.input-group {
  position: relative;
}
 
.input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}

.input-mensaje{
  height: 15rem;
}

@media (min-width: 768px) {
  .input{
    width: 70%;
  }

  .input-mensaje{
    width: 100%;
  }
}
 
 .user-label {
  position: absolute;
  left: 15px;
  font-size: 1.2rem;
  color: var(--darkBg2);
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
  cursor: initial;
 }

@media (min-width: 768px) {
  .user-label{
    font-size: 1.3rem;
  }
}
 
 .input:focus, input:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
 }
 
 .input:focus ~ label, .input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--blanco);
  padding: 0 .5rem;
  color: var(--darkbg2);
 }


.btn-form-div{
  display: flex;
  justify-content: end;
}

.btn-form{
  all: unset;
  display: block;
  width: 100%;
  color: var(--blanco);
  background-color: var(--secundario);
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.6rem;
  margin: 2rem 0 0 0;
  text-align: center;
  border-radius: .4rem;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: .4s;
}

@media (min-width: 768px) {
  .btn-form{
    width: auto;
    padding-inline: 4rem;
  }
}

.btn-form:hover{
  background-color: var(--terciario);
}

.texto p{
  font-size: 3rem;
}

.contactame{
  display: block;
  font-size: 3rem;
  font-weight: bold;
}

.email,
.celular{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: .5rem;
  color: var(--negro);
  font-size: 1.7rem;
  font-weight: bold;
}

@media (min-width: 768px) {
  .email,
  .celular{
    justify-content: start;
  }
}

.celular{
  margin-top: 0;
}

/* footer */
.footer{
  background-color: var(--blanco);
  padding-block: 4rem;
  margin-top: 3rem;

  position: relative;
}

.btn-flotante{
  position: absolute;
  right: 5rem;
  bottom: 1rem;

  display: block;
  background-color: var(--blanco);
  border-radius: .5rem;
  padding: .3rem;
  color: var(--negro);
  cursor: pointer;
}

.btn-flotante:hover{
  
  box-shadow: 3px 3px 150px 4px rgba(0,0,0,0.48);
}

.footer-flex{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

@media (min-width: 768px) {
  .footer-flex{
    flex-direction: row;
    justify-content: space-between;
  }
}

/* estilos para el menu en movil */
.nav-menu-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

@media (min-width: 768px) {
  .nav-menu-footer{
    flex-direction: row;
  }
}

.nav-menu-link-footer{
  color: var(--negro);
  font-size: 1.7rem;
  padding: 1rem;
  border-radius: 5px;
  transition-property: background-color;
  transition-duration: .3s;
}

@media (min-width: 768px) {
  .nav-menu-link-footer{
    padding: 0;
  }
}

.nav-menu-link-footer:hover{
  background-color: #DFF6FF;
  color: var(--negro);
}

/* Estilos para la navegacion en pc's */
@media (min-width: 768px) {

  .nav-menu-link-footer::after{
    content: '';
    display: block;
    width: 0;
    height: .5rem;
    margin-top: 5px;
    background-color: #1363DF;
    transition-property: all;
    transition-duration: .3s;
  }

  .nav-menu-link-footer:hover{
    background-color: unset;
  }

  .nav-menu-link-footer:hover::after{
    width: 100%;
  }
}

.footer-copyright{
  font-size: 1.7rem;
}

/* Dark Mode */
.dark-mode-btn{
  color: var(--blanco);
  cursor: pointer;
  transition-property: color;
  transition-duration: .3s;
}

.dark-mode h2,
.dark-mode h3,
.dark-mode .pestanas li{
  color: var(--darkLetra);
}

.dark-mode-btn:hover{
  color: var(--negro);
}

.dark-mode{
  background-color: var(--dark);
}


.dark-mode .titular{
  background-color: var(--secundarioOscuro);
}

.dark-mode .titular:hover{
  background-color: var(--terciario);
}

.dark-mode .sobremi-contenedor,
.dark-mode .pestanas,
.dark-mode .card,
.dark-mode .formulario{
  background-color: var(--darkBg);
}

.dark-mode .card{
  box-shadow: unset;
}

.dark-mode .card:hover{
  box-shadow: unset;
}

.dark-mode .contenido{
  background-color: var(--darkBg2);
  color: var(--darkLetra);
}

.dark-mode input,
.dark-mode textarea{
  background-color: var(--darkBg2);
  color: var(--darkLetra);
}

.dark-mode input::placeholder,
.dark-mode textarea::placeholder{
  color: var(--darkLetra);
  font-weight: bold;
  color: var(--darkLetra);
}

.dark-mode label,
.dark-mode .descripcion p{
  color: var(--darkLetra);
}

.dark-mode .btn-form{
  background-color: var(--secundarioOscuro);
}

.dark-mode .footer {
  background-color: var(--darkBg2);
  color: var(--darkLetra);
}

.dark-mode .footer a{
  color: var(--darkLetra);
}

.dark-mode .wrapper,
.dark-mode .skills,
.dark-mode .form-contenedor{
  background: linear-gradient(to bottom, var(--primarioOscuro) 50%, var(--terciario) 100%);
}

@media (min-width: 768px) {
  .dark-mode .wrapper,
  .dark-mode .skills,
  .dark-mode .form-contenedor{
    background: linear-gradient(to right, var(--primarioOscuro) 50%, var(--terciario) 100%);
  }
}

.dark-mode .skills-nombre p{
  color: var(--darkLetra);
}

.dark-mode .progress::after{
  background-color: var(--terciario);
}

.dark-mode .progress{
  background-color: var(--darkBg2);
}

.dark-mode .input:focus ~ label, .input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: var(--darkBg);
  padding: 0 .5rem;
  color: var(--blanco);
 }

.dark-mode::-webkit-scrollbar{
  width: .5rem;
  background-color: var(--darkbg2);
}

.dark-mode::-webkit-scrollbar-thumb{
  background-color: var(--negro);
  border-radius: 2rem;
}

.dark-mode .bloque-grid::-webkit-scrollbar-thumb{
  background-color: var(--primarioOscuro);
  border-radius: 2rem;
}

/* Clases para JS */
.alerta{
  padding: 1rem;
  font-size: 1.6rem;
  text-align: center;
  margin-top: .5rem;
  font-weight: bold;
}

.error{
  background-color: rgb(254 226 226);
  color: rgb(185 28 28);
  border-left: 4px solid rgb(153 27 27);;
}

.succes{
  background-color: rgb(217 249 157);
  color: rgb(77 124 15);
  border-left: 4px solid  rgb(54 83 20);;
}

#year{
  font-weight: bold;
}

::-webkit-scrollbar{
  width: .5rem;
  background-color: var(--darkLetra);
}

::-webkit-scrollbar-thumb{
  background-color: var(--primario);
  border-radius: 2rem;
}